.hud {
	z-index: $zHUD;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	color: $black;
	pointer-events: none;

	.hud__left {
		position: absolute;
		width: 22.5%;
		height: 100%;
		top: 0;
		left: 0;
		background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
		opacity: 0;
		transition: $speed;

		&.active {
			opacity: 1;
		}
	}

	.hud__right {
		position: absolute;
		width: 22.5%;
		height: 100%;
		top: 0;
		right: 0;
		background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
		opacity: 0;
		transition: $speed;

		&.active {
			opacity: 1;
		}
	}
}
