$gradStart: rgba(255,255,255,0.25);
$gradStop: rgba(255,255,255,0);
$gradPink: rgba(255, 190, 190, 1);

.arrow-left, .arrow-right {
  @extend .noselect;

  opacity: 0;
  pointer-events: none;
  transition: $transitionFast;
  height: 100vh;
  width: 18vw;
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: $zHUD;
  color: $white;

  .arrow__inner {
    height: 540px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  &.hover {
    opacity: 0.5;

    .arrow__inner {

      .glyph {
        transform: translateX(0);
        padding: $space;
      }
    }
  }

  &.active {
    opacity: 1;

    .arrow__inner {
      .glyph {
        transform: translateX(0);
      }
    }
  }
}

.arrow-left {
  left: 0;

  .arrow__inner {
    background: linear-gradient(to right, $gradStart, $gradStop);
    justify-content: flex-start;

    .glyph {
      transition: $transitionFast;
      transform: translateX(40px);
    }
  }

  &.active {
    .arrow__inner {
      background: linear-gradient(to right, $gradPink, $gradStop);

      .glyph {
        transform: translateX(-12px);
      }
    }
  }
}

.arrow-right {
  right: 0;

  .arrow__inner {
    background: linear-gradient(to right, $gradStop, $gradStart);
    justify-content: flex-end;

    .glyph {
      transition: $transitionFast;
      transform: translateX(-40px);
    }
  }

  &.active {
    .arrow__inner {
      background: linear-gradient(to right, $gradStop, $gradPink);

      .glyph {
        transform: translateX(12px);
      }
    }
  }
}
