$fontStack: 'Karla', sans-serif;
$fontStackAlt: 'Playfair Display', serif;
$fontSmall: 12px;
$fontSize: 17px;
$fontLarge: 24px;
$fontHuge: 40px;
$lineHeight: 1.2;
$letterSpacing: initial;
$wordSpacing: initial;
