// type

$fontStack: 'Karla', sans-serif;

// font size

$fontSizeSmall: 13px;
$fontSize: 15px;
$fontSizeMedium: 20px;
$fontSizeLarge: 40px;
$fontSizeHuge: 50px;

// spacing

$lineHeight: 1.4;
$letterSpacing: 1px;
