// type

$fontStack: 'Karla', sans-serif;

// font size

$fontSize: 15px;
$fontSizeSmall: 15px;
$fontSizeMedium: 20px;
$fontSizeLarge: 40px;
$fontSizeHuge: 50px;

// spacing

$lineHeight: 1.3;
$letterSpacing: 1px;
