@mixin pad($x, $y) {
	padding-left: $x * $space;
	padding-right: $x * $space;
	padding-top: $y * $space;
	padding-bottom: $y * $space;
}

@mixin margin($x, $y) {
	margin-left: $x * $space;
	margin-right: $x * $space;
	margin-top: $y * $space;
	margin-bottom: $y * $space;
}

.ext-grid {
	background-size: $gridSize $gridSize;
  background-image: $backgroundGrid;
}

.ext-grid-alt {
	background-size: $gridSize*2 $gridSize*2;
  background-image: $backgroundGrid;
}
