$colourPrimary: #eee;//#75c9ff;
$colourSecondary: #888;//#833be5;
$colourBackground: #222;//#0d0b8e;
$transparent: rgba($colourBackground, 0.5);
$transition: 0.5s;

// sizing
$space: 8px;
$navHeight: $space * 6;

// z
$indexNav: 100;
$indexMenu: 99;
