// colours
$colourPrimary: #eee;
$colourSecondary: #444;
$colourBackground: #4c474b;
$colourBackgroundAlt: lighten($colourBackground, 5%);
$colourAlt: #9446ff;
$transparent: rgba($colourBackground, 0.5);
$black: #000;
$white: #eee;

// style
$colourGrid: rgba($white, 0.025);
$border: 1px solid $white;
$borderAlt: 3px double $white;
$boxShadow: 5px 5px 20px rgba($white, 0.25);

// sizesa
$space: 8px;
$gridSize: $space;
$navHeight: $space * 6;

// index
$indexBody: 1;
$indexLogo: 2;
$indexGrid: 3;
$indexLoading: 4;
$indexCanvas: 5;
$indexPage: 6;
$indexNav: 7;

// animation
$transition: 0.5s;
$transitionSlow: 1s;
