// colours
$colourPrimary: #e8e8e8;//teal;//#eee;
$colourSecondary: #444;
$colourBackground: #4c474b;//lighten(teal, 0%);//;
$colourBackgroundAlt: #2c272b;
$colourAlt: #ff89da; //#9648ff;// #000;//#9648ff;
$transparent: rgba($colourBackground, 0.5);
$black: #000;
$white: #eee;
$colourGrid: rgba($white, 0.025);

// sizes
$space: 8px;
$gridSize: $space * 2;
$navHeight: $space * 6;

// style
$border: 1px solid $white;
$borderAlt: 3px double $white;
$boxShadow: 5px 5px 20px rgba($colourAlt, 0.4);
$boxShadowAlt: 0px 15px 22px -8px rgba($colourAlt, 0.4);
$backgroundGrid: linear-gradient(to right, $colourGrid 1px, transparent 1px), linear-gradient(to bottom, $colourGrid 1px, transparent 1px);

// index
$indexBody: 1;
$indexGrid: 3;
$indexPaneContent: 4;
//$indexLoading: 4;
//$indexCanvas: 5;
//$indexPage: 6;
$indexLogo: 9;
$indexNav: 9;
$indexControls: 8;

// animation
$transition: 0.5s;
$transitionSlow: 1.25s;
$transitionVerySlow: 2.5s;
