$fontStack: 'Karla', sans-serif;
$fontStackSerif: 'Playfair Display', sans-serif;
$fontSize: 17px;
$fontSizeSmall: 12px;
$fontSizeLarge: 20px;
$fontSizeHuge: 40px;
$lineHeight: 1.2;
$letterSpacing: 1.2px;
