@mixin padding($x, $y) {
	padding-left: $x * $space;
	padding-right: $x * $space;
	padding-top: $y * $space;
	padding-bottom: $y * $space;
}

@mixin margin($x, $y) {
	margin-left: $x * $space;
	margin-right: $x * $space;
	margin-top: $y * $space;
	margin-bottom: $y * $space;
}

.mobile-show {
	display: none;

	@media screen and (max-width: $mobile) {
		display: inherit;
	}
}

.mobile-hide {
	@media screen and (max-width: $mobile) {
		display: none;
	}
}
