// colour
$black: #111;
$white: #fff;
$colour: #2c272b;
$colourLink: red;
$backgroundColour: $white;
$pink: #ffdede; //rgba(red, 0.125);
$backgroundGradient: linear-gradient(to top, $white, $pink);

// size
$space: 8px;
$heightNav: 40px;
$heightFooter: 200px;
$widthPage: 50%;
$sizeLogo: 300px;

// style
$border: 1px solid $black;
$borderThick: $space solid $black;
$boxShadow: 5px 5px 0px black;

// breakpoints
$siteWidth: 1160px;
$tablet: 1024px;
$tabletPortrait: 800px;
$mobile: 700px;

// height
$indexLogo: 5;
$indexWrapper: 10;
$indexNav: 100;
$indexLoadingScreen: 200;

// animation
$transition: 0.35s;
$transitionFast: 0.25s;
$transitionMedium: 1.1s;
$transitionSlow: 1.5s;
