// colour
$black: #111;
$white: #fff;
$colour: #4c474b;

// size
$space: 8px;
$heightNav: 40px;
$heightFooter: 200px;

// breakpoints
$siteWidth: 1160px;
$tablet: 1024px;
$tabletPortrait: 800px;
$mobile: 700px;

// animation
$transition: 0.35s;
$transitionMedium: 0.7s;
$transitionSlow: 1s;
