.section-archive {
  .list {
    .archive-item {
      cursor: pointer;

      &:hover {
        color: $colourAlt;
      }
    }
  }
}

.section-upcoming, .section-archive {
  .list {
    .item {
      width: 66.66%;
      padding-top: $space * 2;
      padding-bottom: $space * 4;

      &:last-child {
        padding-bottom: 0;
      }

      .dates {
        font-size: $fontLarge;
        margin-bottom: 0;
      }

      h1 {
        padding: 0;
      }

      .desc {
        @include margin(0, 1);

        .heading {
          text-decoration: underline;
        }

        padding-left: $space * 2;
        border-left: $border;
        font-size: $fontLarge;
      }

      @media screen and (max-width: $tablet) {
        width: 80%;
      }
    }
  }
}
