.page-submissions {
  .page__inner {
    .section {
      .submissions-text {
        a {
          font-size: 90%;
          color: $colourAlt;
          display: block;
        }

        ul {
          color: $colourAlt;
        }
      }
    }
  }
}
