.section-upcoming {
  .list {
    .item {
      width: 66.66%;
      padding-top: $space * 2;
      padding-bottom: $space * 4;

      .dates {
        font-size: $fontLarge;
        margin-bottom: 0;
      }

      h1 {
        padding: 0;
      }

      .desc {
        @include margin(0, 1);

        .heading {
          text-decoration: underline;
        }

        padding-left: $space * 2;
        border-left: $border;
        font-size: $fontLarge;
      }
    }
  }
}
