div, * {
	//outline: 1px solid rgba(black, 0.5);
	box-sizing: border-box;
}

html {
	&.freeze {
		position: fixed;
		overflow-y: scroll;
    width: 100%;
	}
}

body {
	font-family: $fontStack;
	font-size: $fontSize;
	line-height: $lineHeight;
	letter-spacing: $letterSpacing;
	color: $colourPrimary;
	background: $colourBackground;
	z-index: $indexBody;
	overflow-x: hidden;
}

a {
	color: inherit;
}
