.upcoming {
  .list {
    .item {
      width: 66.66%;
      padding-top: $space * 4;
      padding-bottom: $space * 4;

      .dates {
        color: $colourAlt;
        padding-bottom: $space * 2;
        text-decoration: underline;
        font-size: $fontLarge;
        //text-transform: uppercase;
      }

      .title {
        //padding-top: $space;
        font-size: $fontHuge;
      }

      .desc {
        //@include pad(0, 0.5);
        font-size: $fontLarge;

        .heading {
          text-decoration: underline;
          //display: inline-block;
        }

        p {
          display: inline;
        }
      }
    }
  }
}
