.featured {
  .artist-name {
    @include pad(0, 1);
    font-size: $fontHuge;
  }

  .exhibition-title {
    @include pad(0, 0.5);
    font-size: $fontLarge;
    color: $colourAlt;
    //display: inline-block;
  }

  .dates {
    @include margin(0, 0.5);
    color: $colourAlt;
    display: inline-block;
  }

  .artist-description {
    @include pad(2, 1);
    @include margin(0, 2);
    font-size: $fontLarge;
    border-left: $border;
  }

  .artist-social-media-links {
    .title {
      @include pad(0, 0.5);
      color: $colourAlt;
    }

    .links {
      display: flex;

      .item {
        display: flex;
        font-size: $fontLarge;

        a {
          @include pad(2, 0.5);
          padding-left: 0;

          &:hover {
            color: $colourAlt;
          }
        }
      }
    }
  }
}
