.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  z-index: $indexLoading;

  .loading__inner {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .loading-button {
      @include pad(2, 1);
      $indexGrid: 4;
      border: $border;
      box-shadow: $boxShadow;
      text-transform: uppercase;
      cursor: pointer;
    }
  }

  &.hidden {
    opacity: 0;
  }
}
