.wrapper {
  width: 100vw;
  height: 100vh;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;

  .canvas-wrapper {
    position: relative;
    cursor: crosshair;

    canvas {
      margin: 0;
      padding: 0;

      &:nth-child(2) {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}
