.canvas-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  cursor: crosshair;
  user-select: none;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
  }
}
