.pane-gallery_gallery-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;

  .menu {
    @include pad(2, 2);
    display: none;
    pointer-events: none;
    position: relative;
    background-color: $colourBackgroundAlt;
    box-shadow: $boxShadow;
    @extend .ext-grid;

    &.active {
      display: block;
      pointer-events: all;
    }

    &.gallery-menu-artwork.active {
      display: flex;
    }

    .title {
      font-size: $fontHuge;
    }
  }
}
