.gallery-menu-artwork {
  width: 70vw;
  max-height: 60vh;
  background-color: transparent;
  box-shadow: none;
  
  .content {
    @include pad(2, 2);
    height: 100%;
    width: 100%;
    background-color: $colourBackgroundAlt;
    box-shadow: $boxShadow;
    display: flex;
    @extend .ext-grid;

    .artwork-half {
      width: 45%;
      height: 100%;

      .image {
        width: 100%;
        height: 100%;
        padding: $space * 2;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          max-width: 100%;
          max-height: 100%;
          box-shadow: $boxShadow;
          object-fit: contain;
        }
      }
    }

    .info-half {
      @include pad(2, 2);
      width: 55%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .artwork-info {
        @include pad(2, 2);
        box-shadow: $boxShadow;
        width: 100%;

        .title {
          font-size: $fontHuge;
          padding-bottom: $space;
        }

        .subtitle {
          color: $colourAlt;
        }

        .desc {
          @include pad(0, 0.5);
        }

        .link {}
      }
    }
  }

  .close-artwork-menu {
    @include margin(2, 2);
    @include pad(2, 1);
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    text-transform: uppercase;
    text-decoration: underline;

    &:hover {
      color: $colourAlt;
      border-color: $colourAlt;
    }
  }

  @media screen and (max-width: $tabletPortrait) {
    width: 80vw;
    height: 65vh;

    .content {
      @include pad(2, 2);
      flex-direction: column;

      .artwork-half {
        width: 100%;
        height: 70%;
      }

      .info-half {
        width: 100%;
        height: 30%;

        .artwork-info {
          width: 100%;
          height: 100%;

          .title {
            font-size: ($fontLarge + $fontHuge) * 0.5;
          }
        }
      }
    }
  }

  @media screen and (max-width: $mobileLandscape) {
    width: 85vw;
    height: 70vh;

    .content {
      @include pad(2, 0);
      flex-direction: row;

      .artwork-half {
        width: 50%;
        height: 100%;
      }

      .info-half {
        width: 50%;
        height: 100%;

        .artwork-info {
          width: auto;
          height: auto;

          .title {
            font-size: $fontLarge;
            text-decoration: underline;
          }

          .desc {
            padding: 0;
          }
        }
      }
    }

    .close-artwork-menu {
      background: $colourBackgroundAlt;
      box-shadow: $boxShadow;
      margin: 0;
    }
  }

  @media screen and (max-width: $mobile) {
    width: 90vw;
    height: 75vh;

    .content {
      @include pad(1, 1);
      flex-direction: column;

      .artwork-half {
        width: 100%;
        height: 62%;

        .image {
          @include pad(1, 1);
        }
      }

      .info-half {
        @include pad(1, 1);
        width: 100%;
        height: 38%;

        .artwork-info {
          width: 100%;
          height: 100%;
          @include pad(1, 0.5);
          box-shadow: none;

          .title {
            font-size: $fontLarge;
          }
        }
      }
    }
  }
}
