.pane-gallery {
  z-index: $indexPaneContent;
  user-select: none;

  .pane__inner {}

  .canvas-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    // #canvas-target
    .canvas-wrapper__inner {
      position: relative;
      cursor: crosshair;
      box-shadow: $boxShadow;
      touch-action: none;
      outline: 2px solid blue;

      &.clickable {
        cursor: pointer;
      }

      canvas {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity $transitionSlow;
        pointer-events: none;

        &.active {
          opacity: 1;
        }
      }
    }
  }

  .close-gallery-button {
    position: absolute;
    margin-top: $gridSize * 5;
    margin-left: $gridSize * 5;
    width: 70px;
    height: 70px;
    cursor: pointer;
    box-shadow: $boxShadow;
    border: $border;
    border-width: 2px;
    user-select: none;

    img {
      width: 100%;
      height: auto;
    }
  }

  @media screen and (max-width: $mobileLandscape) {
    .close-gallery-button {
      margin-top: $gridSize;
      margin-left: $gridSize;
      width: 40px;
      height: 40px;
    }
  }

  @media screen and (max-width: $mobile) {
    .close-gallery-button {
      display: none;
    }
  }
}

@media screen and (max-width: $mobile) {
  #nav-gallery {
    justify-content: center;
  }
}
