div, * {
	//outline: 1px solid rgba(black, 0.5);
	box-sizing: border-box;
}

html {
	&.freeze {
		position: fixed;
		overflow-y: scroll;
    width: 100%;
	}
}

body {
	font-family: $fontStack;
	font-size: $fontSize;
	line-height: $lineHeight;
	letter-spacing: $letterSpacing;
	word-spacing: $wordSpacing;
	color: $colourPrimary;
	background: $colourBackground;
	z-index: $indexBody;
	overflow-x: hidden;
}

#background-grid {
	@extend .ext-grid;
	background-color: $colourBackground;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: background-color $transitionSlow;

	&.active {
		background-color: $colourBackgroundAlt;
	}
}

a {
	color: inherit;
}
