div, * {
	box-sizing: border-box;
}

html, body {
	font-family: $fontStack;
	font-size: $fontSize;
	line-height: $lineHeight;
	letter-spacing: $letterSpacing;
	margin: 0;
	padding: 0;
	color: $white;
}

a {
	text-decoration: none;
	color: inherit;
}
