div, * {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
}

body {
	font-family: $fontStack;
	font-size: $fontSize;
	line-height: $lineHeight;
	letter-spacing: $letterSpacing;
	color: $colourPrimary;
	background: $colourBackground;
}

a {
	color: inherit;
}
