.label {
  position: fixed;
  bottom: 0;
  right: 0;
  pointer-events: none;
  z-index: $zMenu;
  padding: $space;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  .label__inner {
    padding: $space;
    border-bottom: 1px white solid;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    text-align: right;

    .label-title {
      font-weight: bold;
    }

    .label-desc {
      font-size: $fontSizeSmall;
    }

    .label-link {
      pointer-events: all;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
