@keyframes flash {
  0% { opacity: 1; }
  75% { opacity: 0; }
  100% { opacity: 1; }
}

.loading {
  @extend .noselect;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: $black;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: $zLoading;
  transition: 1.0s;

  .loading__inner {
    width: 50%;
    height: 50%;
    text-align: right;
  }

  &.hidden {
    pointer-events: none;
    opacity: 0;
  }

  .flash {
    animation-name: flash;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
}
