@keyframes flashing {
  0% { background: transparent; }
  15% { background: $colourAlt; }
  30% { background: transparent; }
}

@keyframes flashing-mobile {
  0% { background: $colourBackground; }
  15% { background: $colourAlt; }
  30% { background: $colourBackground; }
}

/*
.mobile-logo {
  @include pad(1, 1);
  position: fixed;
  top: $navHeight;
  width: 100%;
  z-index: -1;
  opacity: 0.25;
  display: flex;
  justify-content: center;

  img {
    width: 600px;
    height: auto;
  }
}
*/

.logo-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: $indexLogo;
  transition: opacity $transitionSlow, transform $transitionSlow;
  pointer-events: none;

  &.active {
    opacity: 0;
    transform: translateX(100vw);
    pointer-events: none;
  }

  .logo-main__inner {
    width: 400px;
    height: 400px;
    position: relative;
    pointer-events: all;

    .logo-main-image {
      position: absolute;
      top: 0;
      left: 0;
      padding: $space;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }

    .logo-main-text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

      .open-gallery-button {
        @include margin(1, 12);
        @include pad(2, 1);
        border: $border;
        box-shadow: $boxShadow;
        background-color: rgba($colourBackground, 0.75);
        cursor: pointer;

        &.flash {
          animation-name: flashing;
          animation-duration: 4s;
          animation-iteration-count: infinite;
        }

        @media screen and (max-width: $mobileLandscape) {
          &.flash {
            animation-name: flashing-mobile;
          }
        }

        @media screen and (max-width: $mobile) {
          background-color: $colourBackground;
        }
      }
    }
  }

  @media screen and (max-width: $tablet) {
    width: 45%;

    .logo-main__inner {
      width: 300px;
      height: 300px;

      .logo-main-text {
        .open-gallery-button {
          @include margin(0, 6);
          @include pad(2, 1);
        }
      }
    }
  }

  @media screen and (max-width: $mobileLandscape) {
    width: 40%;

    .logo-main__inner {
      width: 240px;
      height: 240px;

      .logo-main-text {
        .open-gallery-button {
          @include margin(1, 6);
          @include pad(2, 1);
        }
      }
    }
  }

  @media screen and (max-width: $mobile) {
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    left: auto;
    top: auto;
    width: 100%;

    .logo-main__inner {
      width: 100%;

      .logo-main-image {
        display: none;
      }

      .logo-main-text {
        width: 100%;
        text-transform: uppercase;
        font-size: $fontLarge;

        .open-gallery-button {
          width: 100%;
          text-align: center;
          @include margin(1, 1);
          @include pad(3, 3);
        }
      }
    }
  }
}
