@keyframes flashing {
  0% { background: transparent; }
  15% { background: $colourAlt; }
  30% { background: transparent; }
}

.logo-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: $indexLogo;
  transition: opacity $transitionSlow, transform $transitionSlow;

  &.active {
    opacity: 0;
    transform: translateX(100vw);
    pointer-events: none;
  }

  .logo-main__inner {
    width: 400px;
    height: 400px;
    position: relative;

    .logo-main-image {
      position: absolute;
      top: 0;
      left: 0;
      padding: $space;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }

    .logo-main-text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

      .open-gallery-button {
        @include margin(1, 12);
        @include pad(2, 1);
        border: $border;
        box-shadow: $boxShadow;
        background-color: rgba($colourBackground, 0.5);
        cursor: pointer;

        &.flash {
          animation-name: flashing;
          animation-duration: 4s;
          animation-iteration-count: infinite;
        }
      }
    }
  }
}
