.menu {
  @extend .noselect;
  position: fixed;
  top: 0;
  right: 0;
  z-index: $zMenu;
  pointer-events: none;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  .menu__inner {
    .menu-button {
      cursor: pointer;
      padding: $space;
      pointer-events: all;

      &:hover {
        font-weight: bold;
      }
    }
  }
}

.menu-about {
  @extend .noselect;
  position: fixed;
  top: 0;
  right: 0;
  z-index: $zMenu;
  background: rgba(6, 6, 6, 0.6);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: $transition;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  .menu-about__inner {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: flex-end;

    .menu-about__inner__p {
      width: 50%;
      text-align: right;
    }

    .close-menu {
      width: 100%;
      text-align: right;
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        font-weight: bold;
      }
    }
  }
}
