.menu-art {
  padding-top: $navHeight;

  .artworks {
    padding: $space * 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: $space;
      width: 20%;
      cursor: pointer;

      .item-thumbnail {
        width: 80px;
        height: 80px;
        overflow: hidden;
        position: relative;

        img {
          min-width: 100%;
          height: auto;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .item-title {
        padding: $space;
      }
    }
  }
}
