.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: $indexNav;
  pointer-events: none;

  .nav__inner {
    @extend .ext-grid;
    background-color: $colourBackground;
    width: 50%;
    height: $gridSize * 5;
    pointer-events: all;
    transition: $transitionSlow;
    user-select: none;
    border-bottom: $border;
    position: relative;

    .list {
      position: absolute;
      left: 0;
      bottom: 0;
      display: flex;
      align-items: flex-end;
      height: 100%;
      width: 100%;
      height: $gridSize * 3;
      transition: opacity $transitionSlow, transform $transitionSlow;

      //&.#nav-content
      &#nav-gallery {
        opacity: 0;
        pointer-events: none;
        transform: translateX(-66vw);
      }

      .item {
        @include pad(0, 1);
        margin-right: $space * 2;
        cursor: pointer;

        &:hover {
          color: $colourAlt;
        }

        &.active {
          color: $colourAlt;
          border-bottom: $space/2 solid $white;
          box-shadow: $boxShadowAlt;
        }
      }
    }
  }

  &.active {
    .nav__inner {
      background-color: $colourBackgroundAlt;

      #nav-content {
        opacity: 0;
        pointer-events: none;
        transform: translateX(66vw);
      }

      #nav-gallery {
        opacity: 1;
        pointer-events: all;
        transform: translateX(0);
      }
    }
  }
}
