.pages {
  width: 100%;
  min-height: 102vh;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;

  .page {
    width: 100%;
    top: 0;
    left: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    padding-top: 0;
    transition: opacity $transition;

    &.active {
      padding-top: $gridSize * 8;
      height: auto;
      overflow: auto;
      opacity: 1;
      pointer-events: all;

      @media screen and (max-width: $mobile) {
        padding-top: $gridSize * 6;
      }
    }

    &.display-none {
      display: none;
    }
  }
}
