.pages {
  width: 100%;
  min-height: 105vh;
  position: relative;
  //display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .page {
    width: 100%;
    top: 0;
    left: 0;
    display: none;
    pointer-events: none;
    padding-top: $gridSize * 8;

    &.active {
      display: block;
      opacity: 1;
      pointer-events: all;
    }
  }

  .page-footer {
    font-size: $fontLarge;

    .page-footer__inner {
      @include margin(0, 4);

      a {
        text-decoration: none;
        color: $colourAlt;
      }
    }
  }
}
