.pages {
  width: 100%;
  min-height: 102vh;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;

  .page {
    //display: none;
    width: 100%;
    top: 0;
    left: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    padding-top: 0;
    transition: opacity $transition;

    &.active {
      //display: block;
      padding-top: $gridSize * 8;
      height: auto;
      overflow: auto;
      opacity: 1;
      pointer-events: all;
    }

    &.display-none {
      display: none;
    }
  }
}
