@keyframes wiggle-x {
  0% { transform: translateX(-20px) rotate(10deg); }
  100% { transform: translateX(0px) rotate(-10deg); }
}

@keyframes wiggle-y {
  0% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

@keyframes wiggle-scale {
  0% { transform: scale(0.9); }
  100% { transform: scale(1); }
}

.pane-gallery_gallery-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;

  .menu {
    @include pad(2, 2);
    display: none;
    pointer-events: none;
    position: relative;
    background-color: $colourBackgroundAlt;
    box-shadow: $boxShadow;
    @extend .ext-grid;

    &.active {
      display: block;
      pointer-events: all;
    }

    .title {
      font-size: $fontHuge;
    }

    .close-gallery-menu, .close-artwork-menu {
      position: absolute;
      cursor: pointer;
      top: -$space * 2;
      right: -$space * 2;
      background-color: $colourBackgroundAlt;
      padding: $space;
      border: $border;
      border-width: 2px;
      border-radius: $space * 6;
      width: $space * 6;
      height: $space * 6;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: ($fontLarge + $fontHuge) / 2;

      &:hover {
        color: $colourAlt;
        border-color: $colourAlt;
      }
    }

    .content {
      @include pad(0, 1);
      display: flex;

      .item {
        width: 33%;
        padding: $space;
        display: flex;
        flex-direction: column;
        align-items: center;

        .text {
          text-align: center;

          @media screen and (max-width: $mobile) {
            font-size: 80%;
          }
        }

        .control-mouse.active {
          animation: wiggle-x;
          animation-duration: 1.25s;
          animation-iteration-count: infinite;
          animation-direction: alternate;
        }

        .control-arrow.active {
          animation: wiggle-y;
          animation-duration: 1.0s;
          animation-iteration-count: infinite;
          animation-direction: alternate;
        }

        .control-artwork.active {
          animation: wiggle-scale;
          animation-duration: 1s;
          animation-iteration-count: infinite;
          animation-direction: alternate;
        }
      }
    }
  }

  #artwork-target {
    width: 70vw;
    height: 60vh;
    background-color: transparent;
    box-shadow: none;

    .content {
      @include pad(4, 2);
      height: 100%;
      width: 100%;
      background-color: $colourBackgroundAlt;
      box-shadow: $boxShadow;
      @extend .ext-grid;

      .artwork-half {
        width: 45%;
        height: 100%;

        .image {
          width: 100%;
          height: 100%;
          padding: $space * 2;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            max-width: 100%;
            max-height: 100%;
            box-shadow: $boxShadow;
            object-fit: contain;
          }
        }
      }

      .info-half {
        @include pad(2, 2);
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .artwork-info {
          @include pad(2, 2);
          border: $border;
          box-shadow: $boxShadow;
          width: 100%;

          .title {
            font-size: $fontHuge;
            padding-bottom: $space;
          }

          .subtitle {
            color: $colourAlt;
          }

          .desc {
            @include pad(0, 0.5);
          }

          .link {}
        }
      }
    }

    @media screen and (max-width: $tabletPortrait) {
      width: 80vw;
      height: 65vh;

      .content {
        @include pad(2, 2);
        flex-direction: column;

        .artwork-half {
          width: 100%;
          height: 70%;
        }

        .info-half {
          width: 100%;
          height: 30%;

          .artwork-info {
            width: 100%;
            height: 100%;

            .title {
              font-size: ($fontLarge + $fontHuge) * 0.5;
            }
          }
        }
      }
    }

    @media screen and (max-width: $mobileLandscape) {
      width: 85vw;
      height: 70vh;

      .close-gallery-menu, .close-artwork-menu {
        top: -$space;
        right: -$space;
      }

      .content {
        @include pad(2, 0);
        flex-direction: row;

        .artwork-half {
          width: 50%;
          height: 100%;
        }

        .info-half {
          width: 50%;
          height: 100%;

          .artwork-info {
            width: auto;
            height: auto;
            border: none;
            box-shadow: none;

            .title {
              font-size: $fontLarge;
              text-decoration: underline;
            }

            .desc {
              padding: 0;
            }
          }
        }
      }
    }

    @media screen and (max-width: $mobile) {
      width: 90vw;
      height: 75vh;

      .close-gallery-menu, .close-artwork-menu {
        top: 0;
        right: 0;
      }

      .content {
        @include pad(1, 1);
        flex-direction: column;

        .artwork-half {
          width: 100%;
          height: 62%;

          .image {
            @include pad(1, 1);
          }
        }

        .info-half {
          @include pad(1, 1);
          width: 100%;
          height: 38%;

          .artwork-info {
            width: 100%;
            height: 100%;
            @include pad(1, 0.5);
            border: none;
            box-shadow: none;

            .title {
              font-size: $fontLarge;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: $mobile) {
    .menu {
      width: 80vw;

      .content {
        flex-direction: column;

        .item {
          width: 100%;
          display: flex;
          flex-direction: row;

          .control-img {
            width: 40%;
            @include pad(1, 0);
          }

          .text {
            width: 60%;
            text-align: left;
          }
        }
      }
    }
  }
}
