.section {
  padding-bottom: $gridSize * 4;
  padding-right: $gridSize * 5;

  &:last-child {
    padding-bottom: 0;
  }

  .label {
    @include pad(2, 0.5);
    display: inline-block;
    box-shadow: $boxShadow;
    border: $border;
    text-transform: uppercase;
    user-select: none;
  }

  h1 {
    @include pad(0, 1);
    font-size: $fontHuge;
  }

  h2 {
    @include pad(0, 1);
    padding-bottom: 0;
    font-size: $fontLarge;
    color: $colourAlt;
    font-weight: bold;
    //text-decoration: underline;
  }

  .dates {
    color: $colourAlt;
    display: inline-block;
  }

  strong {
    font-weight: bold;
  }

  p {
    @include pad(0, 1);
    font-size: $fontLarge;

    a {
      text-decoration: underline;
    }
  }

  ul {
    @include margin(0, 2);
    padding-left: $space * 2;
    padding-left: $space * 2;
    border-left: $border;
    font-size: $fontLarge;
  }

  .border {
    @include margin(0, 2);
    padding-left: $space * 2;
    border-left: $border;
  }

  .links {
    display: flex;

    .item {
      display: flex;
      font-size: $fontLarge;

      a {
        @include pad(2, 0.5);
        padding-left: 0;

        &:hover {
          color: $colourAlt;
        }
      }
    }
  }
}
