.gallery {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  transform: translateX(-100vw);

  &.transition {
    transition: transform $transitionMedium;
  }

  &.active {
    transform: translateX(0);
  }

  .gallery__inner {
    .canvas-wrapper {
      // NOTE: #canvas-target
      .canvas-wrapper__inner {
        cursor: crosshair;
        background: #111;
        box-sizing: content-box;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        canvas {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          box-sizing: content-box;
          opacity: 0;
          transition: opacity $transitionSlow;
        }

        &.clickable {
          cursor: pointer;
        }

        &.active {
          canvas {
            opacity: 1;
          }
        }
      }
    }
  }

  .gallery__popup-artwork-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 60vh;
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: flex-end;
    background: $backgroundGradient;

    &.active {
      opacity: 1;
      pointer-events: all;
    }

    .popup-artwork-info__image {
      width: 60%;
      height: 100%;
      @include padding(4, 2);
      background: $backgroundGradient;

      .image {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    .popup-artwork-info__details {
      width: 40%;
      height: 100%;
      flex: 1;
      display: flex;
      justify-content: center;
      flex-direction: column;
      @include padding(2, 2)

      .title {
        font-size: $fontSizeHuge;
        font-family: $fontStackSerif;
      }

      .subtitle {
        text-transform: uppercase;
        font-size: $fontSizeSmall;
      }

      .desc {}

      .link {
        text-transform: uppercase;
        font-size: $fontSizeSmall;
      }
    }

    .close {
      position: absolute;
      top: 0;
      right: 0;
      font-size: $fontSizeHuge;
      @include padding(1, 0);
      cursor: pointer;
    }
  }

  .gallery__popup-gallery-controls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $backgroundColour;
    opacity: 0;
    pointer-events: none;

    &.active {
      opacity: 1;
      pointer-events: all;
    }
  }

  .gallery__controls {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;

    &.active {
      opacity: 1;
      pointer-events: all;
    }

    .gallery__control-block {
      @include padding(0, 0);

      .control {
        cursor: pointer;
        @include padding(1, 1);

        svg {
          transition: $transitionFast;
          fill: transparent;
        }

        &.active {
          svg {
            transform: scale(1.25, 1.25);
            fill: $colourLink;
          }
        }
      }
    }
  }
}
