div, * {
	box-sizing: border-box;
	//outline: 1px dashed rgba(black, 0.25);
}

html {
	&.freeze {
		position: fixed;
		overflow-y: scroll;
    width: 100%;
	}
}

html, body {
	width: 100%;
}

body {
	font-family: $fontStack;
	font-size: $fontSize;
	line-height: $lineHeight;
	letter-spacing: $letterSpacing;
	color: $colour;
	overflow-x: hidden;
	touch-action: none;
	user-select: none;
	background: $backgroundGradient;
}

.admin-notify {
	z-index: 999;
	position: fixed;
	top: calc(100vh - #{$space * 4});
	left: 0;
	width: 100%;
	height: $space * 4;
	@include padding(2, 0);
	display: flex;
	align-items: center;
	font-size: $fontSizeSmall;
	background: $colour;
	color: $backgroundColour;
	opacity: 0.5;
}

a {
	color: $colourLink;
}

ul {
	list-style: square;
}
