.logo {
  border: 1px dashed rgba(0, 0, 0, 0.25);
  border-radius: $sizeLogo;
  //position: absolute;
  position: fixed;
  width: $sizeLogo;
  height: $sizeLogo;
  top: calc(45vh - #{$sizeLogo / 2});
  left: calc(23vw - #{$sizeLogo / 2});
  transform: translateX(100vw);
  z-index: $indexLogo;
  cursor: pointer;
  transition: transform $transitionMedium;

  &.active {
    transform: translateX(0);
  }

  .logo__prompt {
    position: absolute;
    bottom: 0;
    right: 0;
    @include padding(1, 1);
    font-family: $fontStackSerif;
    font-size: $fontSizeHuge;
    transform: translate(50%, 42%);

    #open-gallery-artist {
      font-size: $fontSizeLarge;
      text-transform: uppercase;
      white-space: nowrap;
      overflow: visible;
    }

    &:hover {
      color: $colourLink;
    }

    .logo__prompt-loading {
      display: none;
    }

    &.loading {
      .logo__prompt-loading {
        display: block;
      }

      .logo__prompt-ready {
        display: none;
      }
    }

    &.prompt-action {}
  }
}
