.nav {
  position: absolute;
  width: 100%;
  height: $heightNav;
  font-family: $fontStackSerif;
  user-select: none;
  z-index: $indexNav;

  .nav__inner {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;//center;
    align-items: flex-end;
    transition: transform $transitionMedium;
    @include padding(4, 0);

    .nav__item {
      @include padding(0, 0.5);
      @include margin(2, 0);
      cursor: pointer;
      text-transform: uppercase;
      border-bottom: $border;

      &.active {
        color: $colourLink;
        border-color: $colourLink;
      }
    }
  }

  #nav-gallery {
    transform: translateX(-100%);

    &.active {
      transform: translateX(0);
    }
  }

  #nav-content {
    transform: translateX(100%);

    &.active {
      transform: translateX(0);
    }
  }
}
