.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $heightNav;
  font-family: $fontStackSerif;
  user-select: none;
  z-index: $indexNav;
  pointer-events: all;

  .nav__inner {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    @include padding(4, 0);

    .nav__item {
      @include padding(0, 0.5);
      @include margin(2, 0);
      cursor: pointer;
      text-transform: uppercase;
      border-bottom: $border;

      &.active {
        color: $colourLink;
        border-color: $colourLink;
      }
    }
  }

  &.nav--gallery {
    height: $heightNav + $space * 2;

    .nav__inner {
      justify-content: center;
    }
  }

  @media screen and (max-width: $mobile) {
    display: none;
  }
}
