.page {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  @include margin(0, 2);
  @include padding(4, 0);

  .page__title {
    @include margin(2, 1);
    @include padding(0, 0.5);
    text-transform: uppercase;
    font-size: $fontSizeLarge;
    font-family: $fontStackSerif;
    border-bottom: $border;
  }

  .page__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    width: $widthPage;
  }

  &.active {
    display: flex;
  }

  @media screen and (max-width: $mobile) {
    @include padding(0, 0);

    .page__content {
      width: 100%;
    }
  }
}
