.section {
  @include padding(4, 4);
  @include margin(2, 2);
  width: 100%;
  background: $white;
  position: relative;
  pointer-events: all;
  //box-shadow: 10px 10px $black;

  .section__heading {
    font-size: $fontSizeHuge;
    font-family: $fontStackSerif;
    user-select: text;
  }

  .section__title {
    font-size: $fontSizeLarge;
    text-decoration: underline;
    text-transform: uppercase;
    //text-transform: capitalize;
    user-select: text;
  }

  .section__date {
    padding-top: $space;
    padding-bottom: $space * 2;
    font-size: $fontSizeSmall;
  }

  .section__description {
    //max-height: 200px;
    //overflow: hidden;
    user-select: text;
  }

  .section__description, .section__description-short {
    @include padding(4, 0);
    @include margin(0, 2);
    border-left: $borderThick;
    user-select: text;
  }

  .section__links {
    display: flex;
    @include padding(0, 2);

    .section__link-item {
      padding-right: $space;
      font-size: $fontSize;
      //text-transform: uppercase;
      a {
        color: $colour;
      }
    }
  }
  .section__images {
    .section__image {}
  }
  .section__custom-value {}

  &.section--featured, &.section--preview, &.section--default {
    .section__description-short {
      display: none;
    }
  }

  &.section--archive {
    //width: calc(50% - #{$space * 4});
    cursor: pointer;
    overflow: hidden;

    .section--archive__prompt {
      @include margin(1, 1);
      @include padding(1.5, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      background: $colour;
      color: $backgroundColour;
      font-size: $fontSizeSmall;
      text-transform: uppercase;
      cursor: pointer;
      opacity: 0;
      transform: translateX(-100%);
      //transition: transform $transitionFast, opacity $transitionFast;

      &:hover {
        color: $colourLink;
      }
    }

    .section__description {
      display: none;
    }

    &:hover {
      //outline: $border;
      box-shadow: 10px 10px $colourLink;
      color: $colourLink;

      .section--archive__prompt {
        //opacity: 1;
        transform: translateX(0%);
      }

      .section__description, .section__description-short {
        border-color: $colourLink;
      }

      .section__links .section__link-item a {
        color: $colourLink;
      }
    }
  }

  &.hidden {
    display: none;
  }
}
