.section {
  @include padding(4, 2.5);
  @include margin(2, 2);
  width: 100%;
  background: $white;
  position: relative;
  pointer-events: all;
  box-shadow: 10px 10px rgba($colour, 1);

  .section__note {
    font-family: $fontStackSerif;
    text-transform: uppercase;
    line-height: 1;
    font-size: $fontSizeSmall;
  }

  .section__heading {
    font-size: $fontSizeHuge;
    font-family: $fontStackSerif;
    user-select: text;
  }

  .section__title {
    font-size: $fontSizeLarge;
    text-decoration: underline;
    text-transform: uppercase;
    user-select: text;
  }

  .section__date {
    padding-top: $space;
    padding-bottom: $space * 2;
    font-size: $fontSizeSmall;
  }

  .section__description {
    user-select: text;
  }

  .section__description, .section__description-short {
    @include padding(4, 0);
    @include margin(0, 2);
    border-left: $borderThick;
    user-select: text;
  }

  .section__links {
    display: flex;
    @include padding(0, 2);

    .section__link-item {
      padding-right: $space;
      font-size: $fontSize;

      a {
        color: $colour;
      }
    }
  }
  .section__images {
    .section__image {}
  }
  .section__custom-value {}

  &.section--featured, &.section--preview, &.section--default {
    .section__description-short {
      display: none;
    }
  }

  &.section--archive, &.section--upcoming {
    .section__description {
      display: none;
    }
  }

  &.section--archive, &.clickable {
    cursor: pointer;

    &:hover {
      box-shadow: 10px 10px $colourLink;
      color: $colourLink;

      .section--archive__prompt {
        transform: translateX(0%);
      }

      .section__description, .section__description-short {
        border-color: $colourLink;
      }

      .section__links .section__link-item a {
        color: $colourLink;
      }
    }
  }

  &.hidden {
    display: none;
  }

  @media screen and (max-width: $mobile) {
    @include padding(8, 10);
    @include margin(0, 0);

    &:nth-child(1) {
      padding-top: $space * 8;
    }

    .section__note {
      text-align: center;
    }

    .section__heading {
      text-align: center;
      font-size: $fontSizeHugeMobile;
      line-height: 1;
    }

    .section__title {
      @include padding(0, 0.25);
      margin-top: $space * 1.5;
      text-align: center;
      font-size: $fontSize;
      line-height: 1;
      text-decoration: none;
      background: $black;
      color: $white;
    }

    .section__date {
      padding: 0;
      font-size: $fontSizeMobile;
      font-family: $fontStackSerif;
      text-align: center;
      padding-top: $space * 2;
    }

    .section__description, .section__description-short {
      margin: 0;
      @include padding(0, 2);
      font-size: $fontSizeMobile;
      letter-spacing: 0.25px;
      //line-height: 1;
      border-left: none;

      p {
        &:nth-child(1) {
          padding-top: 0;
          margin-top: 0;
        }

        &:last-child {
          padding-bottom: 0;
          margin-bottom: 0;
        }
      }
    }

    .section__links {
      padding: 0;
      margin: 0;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      font-family: $fontStackSerif;
    }
  }

  @media screen and (max-width: $mobileSmall) {
    @include padding(2, 4);
    @include margin(0, 0);
  }
}
