.wrapper {
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  padding-top: $heightNav;
  z-index: $indexWrapper;
  pointer-events: none;
  position: relative;
  transform: translateX(100vw);
  transition: transform $transitionMedium;

  &.active {
    transform: translateX(0);
  }
}
